In [1]:
import pandas as pd
from pymongo import MongoClient
from pandas.io.json import json_normalize
import geopandas as gpd

In [2]:
mongo = MongoClient(host='mongodb+srv://public:eodWv15UpDSHXqUZ@cluster0.wjypgq6.mongodb.net/')

In [4]:
print(mongo.list_database_names())

['project_three_data', 'admin', 'local']

In [5]:
db = mongo["project_three_data"]
print(db.list_collection_names())

['nyc_truck_routes', 'Outdoor_Air_and_Health_data', 'tree_census_2015', 'nyc_asthma_data', 'ny_air_quality_expanded', 'NO_data', 'nyc_truck_routes_2', 'ny_air_quality']

In [8]:
asthma_data = db['nyc_asthma_data']
asthma_data.find_one()

{'_id': ObjectId('65725d717d2c7ef07c42e005'),
 'title': 'Asthma and the Environment',
 'indicator_id': 31,
 'data_field_name': 'Adul31',
 'indicator_name': 'Adults with asthma (past 12 months)',
 'measure_name': 'Age-adjusted percent',
 'start_date': datetime.datetime(2003, 1, 1, 0, 0),
 'end_date': datetime.datetime(2003, 12, 31, 0, 0),
 'time_type': 'year',
 'time': 2003,
 'geo_entity_id': 101,
 'geo_join_id': 101,
 'geo_type': 'UHF42',
 'neighborhood': 'Kingsbridge - Riverdale',
 'data_value': 5.1}

In [14]:
#"$or": ["time":2005, "time": 2015]
cursor = asthma_data.find({})
df = pd.DataFrame(list(cursor))
df.head()

,_id,title,indicator_id,data_field_name,indicator_name,measure_name,start_date,end_date,time_type,time,geo_entity_id,geo_join_id,geo_type,neighborhood,data_value,message
0,65725d717d2c7ef07c42e005,Asthma and the Environment,31,Adul31,Adults with asthma (past 12 months),Age-adjusted percent,2003-01-01,2003-12-31,year,2003,101,101,UHF42,Kingsbridge - Riverdale,5.1,NaN
1,65725d717d2c7ef07c42e006,Asthma and the Environment,31,Adul31,Adults with asthma (past 12 months),Age-adjusted percent,2003-01-01,2003-12-31,year,2003,102,102,UHF42,Northeast Bronx,5.9,NaN
2,65725d717d2c7ef07c42e007,Asthma and the Environment,31,Adul31,Adults with asthma (past 12 months),Age-adjusted percent,2003-01-01,2003-12-31,year,2003,103,103,UHF42,Fordham - Bronx Pk,4.8,NaN
3,65725d717d2c7ef07c42e008,Asthma and the Environment,31,Adul31,Adults with asthma (past 12 months),Age-adjusted percent,2003-01-01,2003-12-31,year,2003,104,104,UHF42,Pelham - Throgs Neck,6.1,NaN
4,65725d717d2c7ef07c42e009,Asthma and the Environment,31,Adul31,Adults with asthma (past 12 months),Age-adjusted percent,2003-01-01,2003-12-31,year,2003,105,105,UHF42,Crotona -Tremont,8.8,NaN

In [13]:

df.columns

Index(['_id', 'title', 'indicator_id', 'data_field_name', 'indicator_name',
       'measure_name', 'start_date', 'end_date', 'time_type', 'time',
       'geo_entity_id', 'geo_join_id', 'geo_type', 'neighborhood',
       'data_value', 'message'],
      dtype='object')

In [15]:

df_slim = df[['indicator_id', 'data_field_name', 'indicator_name', 'measure_name', 'time_type', 'time', 'neighborhood','data_value']]
df_slim.head()

,indicator_id,data_field_name,indicator_name,measure_name,time_type,time,neighborhood,data_value
0,31,Adul31,Adults with asthma (past 12 months),Age-adjusted percent,year,2003,Kingsbridge - Riverdale,5.1
1,31,Adul31,Adults with asthma (past 12 months),Age-adjusted percent,year,2003,Northeast Bronx,5.9
2,31,Adul31,Adults with asthma (past 12 months),Age-adjusted percent,year,2003,Fordham - Bronx Pk,4.8
3,31,Adul31,Adults with asthma (past 12 months),Age-adjusted percent,year,2003,Pelham - Throgs Neck,6.1
4,31,Adul31,Adults with asthma (past 12 months),Age-adjusted percent,year,2003,Crotona -Tremont,8.8

In [28]:
df_select_years=df_slim[(df_slim['time'] == 2005)|(df_slim['time'] == 2015)] 
df_select_years.head()

,indicator_id,data_field_name,indicator_name,measure_name,time_type,time,neighborhood,data_value
462,31,Adul31,Adults with asthma (past 12 months),Age-adjusted percent,year,2015,Kingsbridge - Riverdale,NA
463,31,Adul31,Adults with asthma (past 12 months),Age-adjusted percent,year,2015,Northeast Bronx,8
464,31,Adul31,Adults with asthma (past 12 months),Age-adjusted percent,year,2015,Fordham - Bronx Pk,7.9
465,31,Adul31,Adults with asthma (past 12 months),Age-adjusted percent,year,2015,Pelham - Throgs Neck,6.1
466,31,Adul31,Adults with asthma (past 12 months),Age-adjusted percent,year,2015,Crotona -Tremont,9.9

In [33]:
df_select_years.groupby(["neighborhood"])['neighborhood'].count()

neighborhood
Bayside - Little Neck                   10
Bedford Stuyvesant - Crown Heights      10
Bensonhurst - Bay Ridge                 10
Borough Park                            10
Canarsie - Flatlands                    10
Central Harlem - Morningside Heights    10
Chelsea - Clinton                       10
Coney Island - Sheepshead Bay           10
Crotona -Tremont                        10
Downtown - Heights - Slope              10
East Flatbush - Flatbush                10
East Harlem                             10
East New York                           10
Flushing - Clearview                    10
Fordham - Bronx Pk                      10
Fresh Meadows                           10
Gramercy Park - Murray Hill             10
Greenpoint                              10
Greenwich Village - SoHo                10
High Bridge - Morrisania                10
Hunts Point - Mott Haven                10
Jamaica                                 10
Kingsbridge - Riverdale                 10
Long Island City - Astoria              10
Lower Manhattan                         10
Northeast Bronx                         10
Pelham - Throgs Neck                    10
Port Richmond                           10
Ridgewood - Forest Hills                10
Rockaways                               10
South Beach - Tottenville               10
Southeast Queens                        10
Southwest Queens                        10
Stapleton - St. George                  10
Sunset Park                             10
Union Square - Lower East Side          10
Upper East Side                         10
Upper West Side                         10
Washington Heights                      10
West Queens                             10
Williamsburg - Bushwick                 10
Willowbrook                             10
Name: neighborhood, dtype: int64